#talkAuxTop {
    width: 1080px;
    overflow: hidden;
    position: relative;
    margin-top:10px;
}
#talkAuxTop .user{
    width: 100px;
    height: 90px;
    float: left;
    margin:5px 0;
}
#talkAuxTop .user img {
    border-radius: 50px;
    margin-left:15px;
}
#talkAuxTop .user .nickname {
    display: block;
    font-size: 14px;
    font-weight:900;
    text-align: center;
}
#talkAuxTop .title_line {
    width: 956px;
    height: 65px;
    margin: 0 5px;
    padding-left: 5px;
    float: left;
    position: absolute;
    left: 110px;
    bottom:15px;
}
#talkAuxTop .talk,#talkAuxTop .hashtag_line {
    margin: 5px 0;
}
#talkAuxTop .title_line .talk{
    display: inline-block;
    height: 30px;
    font-size: 25px;
    float: left;
}
#talkAuxTop .talk_title {
    margin-left: 5px;
}
#talkAuxTop .hashtag_line {
    clear: both;
    border: 0;
    height: 25px;
    line-height:25px;
    font-size: 16px;
    padding-top:5px;
    border-top:1px solid #7C7877;
}
#talkAuxTop .tag {
    padding-right: 5px;
    background-color:#cff09e;
}
#talkInfo {
    min-width: 200px;
    height: 20px;
    padding: 0 5px;
    float: right;
    text-align:right;
    position: absolute;
    right: 0;
    top: 35px;
}
#talkInfo .info {
    height: 20px;
    font-size: 15px;
    margin: 5px 0;
    line-height: 10px;
}
#talkInfo .hit {
	font-weight:900;
} 

#contentBox {
    width: 1055px;
    height: 398px;
    margin: 10px auto;
    padding: 10px;
    background:#f4f5f9;
    border-top:1px solid #7C7877;
    border-bottom:1px solid #7C7877;
}
#contentsFooter {
    width: 1070px;
    height: 30px;
    margin: 0 auto;
}
.btn_talk {
    display: block;
    /*width: 100px;*/
    height: 30px;
    padding: 0 10px;
    float: right;
    border: none;
    box-shadow: 0 0 2px #424242;
    cursor: pointer;
    font-family: "NotoSansKR",sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #424242;
    margin-left: 10px;
}
a.btn_talk{
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.ex {
    font-size: 40px;
}